[flake8]
extend-ignore = E203
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    .yml,
    .Dockerfile,
    .venv,
    __init__.py
    __initial__.py
    accounts/migrations
    ToDoApp/settings.py
    accounts/apps.py